@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding: 30px 10px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  visibility: visible;
  overflow: auto;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  z-index: 50;
  position: absolute;
  width: 100%;
  background-color: #0e171b;
  height: 110px;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.header._scroll {
  z-index: 50;
  position: fixed;
  background-color: #0e171b;
  width: 100%;
  height: 90px;
  -webkit-box-shadow: 0px 7px 22px 4px #1d1e24;
  box-shadow: 0px 2px 10px 1px #1d1e24;
}

.header__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.header__inherit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.menu__line {
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 0px;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #007cc1), color-stop(28%, #007cc1), color-stop(63%, #1d6d97), to(#0b415e));
  background-image: -o-linear-gradient(left, #007cc1 0, #007cc1 28%, #1d6d97 63%, #0b415e 100%);
  background-image: linear-gradient(90deg, #007cc1 0, #007cc1 28%, #1d6d97 63%, #0b415e 100%);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-radius: 60px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  position: relative;
  margin: 0px 70px 0px 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__list li:hover::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 32px;
  top: -8px;
  right: -34px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #007cc1;
}

.menu__list li::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 32px;
  top: -8px;
  right: -34px;
  background-color: rgba(255, 255, 255, 0.75);
}

.menu__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.menu__list li:last-child::after {
  content: "";
  display: none;
}

.menu__link {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #ffffff;
  opacity: 0.5;
  letter-spacing: -0.08px;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
}

.menu__link:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #1491d5;
  opacity: 1;
}

.menu__link._active2 {
  opacity: 1;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__sec1 {
  padding: 519px 0px 100px 0px;
  height: 100vh;
}

.sec1 {
  position: relative;
}

.sec1__filter {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(14, 18, 20, 0.81)), color-stop(34.69%, rgba(14, 18, 20, 0.68)), color-stop(70.95%, rgba(14, 18, 20, 0.25)), to(rgba(14, 18, 20, 0)));
  background: -o-linear-gradient(left, rgba(14, 18, 20, 0.81) 0%, rgba(14, 18, 20, 0.68) 34.69%, rgba(14, 18, 20, 0.25) 70.95%, rgba(14, 18, 20, 0) 100%);
  background: linear-gradient(90deg, rgba(14, 18, 20, 0.81) 0%, rgba(14, 18, 20, 0.68) 34.69%, rgba(14, 18, 20, 0.25) 70.95%, rgba(14, 18, 20, 0) 100%);
  opacity: 0.94;
}

.sec1__filter2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#131313), color-stop(39.04%, rgba(5, 8, 10, 0.88)), color-stop(70.95%, rgba(8, 10, 11, 0.84)), to(rgba(7, 9, 10, 0.88)));
  background: -o-linear-gradient(left, #131313 0%, rgba(5, 8, 10, 0.88) 39.04%, rgba(8, 10, 11, 0.84) 70.95%, rgba(7, 9, 10, 0.88) 100%);
  background: linear-gradient(90deg, #131313 0%, rgba(5, 8, 10, 0.88) 39.04%, rgba(8, 10, 11, 0.84) 70.95%, rgba(7, 9, 10, 0.88) 100%);
  opacity: 0.76;
}

.sec1__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sec1__bg img {
  width: 100%;
  height: 100%;
}

.sec1__body {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}

.sec1__left-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.sec1__right-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.left-block__title {
  color: #e6f6ff;
  font-size: 65px;
  font-weight: 400;
  max-width: 451px;
  line-height: 72.74px;
  margin: 0px 0px 32px 0px;
  font-family: "Noto Sans";
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  opacity: 0;
  letter-spacing: -1.9px;
}

.left-block__title._active {
  -webkit-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
  -webkit-transition: all 0.6s ease 0.2s;
  -o-transition: all 0.6s ease 0.2s;
  transition: all 0.6s ease 0.2s;
  opacity: 1;
}

.left-block__text {
  letter-spacing: -0.5px;
  color: #ffffff;
  font-size: 36px;
  line-height: 26px;
  font-weight: 300;
  max-width: 400px;
  margin: 0px 0px 45px 0px;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  opacity: 0;
}

.left-block__text._active {
  -webkit-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
  -webkit-transition: all 0.6s ease 0.4s;
  -o-transition: all 0.6s ease 0.4s;
  transition: all 0.6s ease 0.4s;
  opacity: 1;
}

.left-block__button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-block__button-blue {
  max-width: 160px;
  margin: 0px 23px 0px 0px;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  opacity: 0;
}

.left-block__button-blue._active {
  -webkit-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  opacity: 1;
  -webkit-animation: animcall 3s linear infinite;
          animation: animcall 3s linear infinite;
}

@-webkit-keyframes animcall {
  0% {
    -webkit-box-shadow: 0px 0px 5px -5px #00a3ff;
    box-shadow: 0px 0px 5px -5px #00a3ff;
  }

  50% {
    -webkit-box-shadow: 0px 0px 20px -5px #00a3ff;
    box-shadow: 0px 0px 20px -5px #00a3ff;
  }

  100% {
    -webkit-box-shadow: 0px 0px 5px -5px #00a3ff;
    box-shadow: 0px 0px 5px -5px #00a3ff;
  }
}

@keyframes animcall {
  0% {
    -webkit-box-shadow: 0px 0px 5px -5px #00a3ff;
    box-shadow: 0px 0px 5px -5px #00a3ff;
  }

  50% {
    -webkit-box-shadow: 0px 0px 30px -5px #00a3ff;
    box-shadow: 0px 0px 30px -5px #00a3ff;
  }

  100% {
    -webkit-box-shadow: 0px 0px 5px -5px #00a3ff;
    box-shadow: 0px 0px 5px -5px #00a3ff;
  }
}

.left-block__button-red {
  max-width: 202px;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.left-block__button-red._active {
  -webkit-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  opacity: 1;
}

.blue {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 11px 0px;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #00a3ff;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.07px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.blue:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #00a3ff;
  -webkit-box-shadow: 0px 0px 20px -5px #00a3ff;
  box-shadow: 0px 0px 20px -5px #00a3ff;
}

.red {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 11px 0px;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #da3636;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.07px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.red:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #da3636;
  -webkit-box-shadow: 0px 0px 20px -5px #da3636;
  box-shadow: 0px 0px 20px -5px #da3636;
}

.right-block {
  position: relative;
  z-index: 10;
  margin: 27px 0 0 383px;
  width: 378px;
}

.right-block__count-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 63px 0px;
  -webkit-transform: translate(100%, 0%);
      -ms-transform: translate(100%, 0%);
          transform: translate(100%, 0%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.right-block__count-projects._active {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 1;
}

.right-block__num {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  margin: 0px 0px -12px 0px;
  padding: 20px 62px;
  color: #ffffff;
  font-size: 44px;
  font-weight: 400;
}

.right-block__num_y {
  padding: 20px 62px;
}

._no-webp .right-block__num::after{
  background: url("../img/sec1/Ellipse.png") center no-repeat; }

.right-block__num::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -25px;
  left: 0;
}

.right-block__txt {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  max-width: 83px;
  text-align: center;
  line-height: 16px;
}

.count-years {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  opacity: 0;
}

.count-years._active {
  -webkit-transition: all 0.3s ease 0.4s;
  -o-transition: all 0.3s ease 0.4s;
  transition: all 0.3s ease 0.4s;
  -webkit-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 1;
}

.sec2 {
  padding: 0px 0px 50px 0px;
}

.sec2__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sec2__about-text {
  position: relative;
  z-index: 10;
  margin: -30px 0px 0px 0px;
  padding: 20px 30px;
  width: 100%;
  max-width: 350px;
  background-color: #363c3f;
}

.sec2__about-title {
  color: #00a3ff;
  font-size: 34px;
  font-weight: 400;
  margin: 0px 0px 20px 0px;
}

.sec2__about-under {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}

.sec2__about-under p {
  margin: 0px 0px 20px 0px;
}

.sec2__about-under p:last-child {
  margin: 0px 0px 0px 0px;
}

.sec2__icons-block {
  padding: 50px 0px 0px 0px;
  width: 100%;
  max-width: 615px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sec2__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin: 0px 0px 0px 0px;
}

.sec2__icon {
  margin: 0px 0px 12px 0px;
}

.sec2__icon:hover svg path {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  fill: #da3636;
}

.sec2__under-text {
  color: #303030;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  max-width: 240px;
}

.sec3 {
  position: relative;
}

.sec3__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sec3__bg img {
  width: 100%;
  height: 100%;
}

.sec3__body {
  padding: 50px 0px;
  position: relative;
  z-index: 10;
}

.sec3__title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
  margin: 0px 0px 40px 0px;
}

.sec3__works-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -30px 0px 0px;
}

.sec3__block {
  margin: 0px 30px 0px 0px;
  padding: 40px 20px 30px 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 350px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 4px 5px 10px 2px rgba(0, 0, 0, 0.4);
          box-shadow: inset 4px 5px 10px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid;
  -o-border-image: -o-linear-gradient(335.73deg, #00a3ff 0%, rgba(0, 163, 255, 0.15) 100%);
     border-image: linear-gradient(114.27deg, #00a3ff 0%, rgba(0, 163, 255, 0.15) 100%);
  border-image-slice: 1;
}

.sec3__block_r {
  border: 1px solid;
  border-image-source: linear-gradient(114.7deg, #da3636 0%, rgba(218, 54, 54, 0.15) 98.63%);
  border-image-slice: 1;
}

.sec3 .block1 {
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.sec3 .block2 {
  -webkit-transform: translate(0%, 100%);
      -ms-transform: translate(0%, 100%);
          transform: translate(0%, 100%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.sec3 .block3 {
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.sec3__block-title {
  color: #00a3ff;
  font-size: 24px;
  font-weight: 500;
  margin: 0px 0px 26px 0px;
  max-width: 200px;
}

.sec3__block-title_r {
  color: #da3636;
  font-size: 24px;
  font-weight: 500;
}

.sec3__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  margin: 0px 0px 30px 0px;
}

.sec3__more {
  cursor: pointer;
  color: #00a3ff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sec3__more:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #62bdf2;
}

.sec3__more_r {
  color: #da3636;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sec3__more_r:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #f56060;
}

.sec3__text3 {
  margin: 50px 0px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
}

.sec3__text3._active {
  -webkit-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
  -webkit-transition: all 0.8s ease 0.1s;
  -o-transition: all 0.8s ease 0.1s;
  transition: all 0.8s ease 0.1s;
  opacity: 1;
}

.sec3._active .block1 {
  -webkit-transform: translate(0%, 0);
      -ms-transform: translate(0%, 0);
          transform: translate(0%, 0);
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  opacity: 1;
}

.sec3._active .block2 {
  -webkit-transform: translate(0%, 0);
      -ms-transform: translate(0%, 0);
          transform: translate(0%, 0);
  -webkit-transition: all 0.3s ease 0.4s;
  -o-transition: all 0.3s ease 0.4s;
  transition: all 0.3s ease 0.4s;
  opacity: 1;
}

.sec3._active .block3 {
  -webkit-transform: translate(0%, 0);
      -ms-transform: translate(0%, 0);
          transform: translate(0%, 0);
  -webkit-transition: all 0.3s ease 0.6s;
  -o-transition: all 0.3s ease 0.6s;
  transition: all 0.3s ease 0.6s;
  opacity: 1;
}

.sec4 {
  margin: 50px 0px;
}

.sec4__title {
  color: #303030;
  font-size: 36px;
  font-weight: 600;
  margin: 0px 0px 50px 0px;
}

.stability-box__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stability-box__pic._active {
  -webkit-animation: slideInLeft;
          animation: slideInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.stability-box__info-block._active {
  -webkit-animation: slideInRight;
          animation: slideInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.stability-box__button-wrapp {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stability-box__button {
  max-width: 161px;
}

.info-block {
  margin: 30px 0px 0px 0px;
}

.info-block__title4 {
  color: #00a3ff;
  font-size: 34px;
  font-weight: 500;
  margin: 0px 0px 10px 0px;
}

.info-block__text {
  color: #303030;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  max-width: 540px;
}

.prefers-block {
  margin: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.prefers-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prefers-block__icon {
  margin: 0px 25px 0px 0px;
}

.prefers-block__info-icon {
  border-left: 1px solid #00a3ff;
  padding: 0px 0px 0px 24px;
}

.prefers-block__info-icon_r {
  border-left: 1px solid #da3636;
}

.prefers-block__label {
  color: #00a3ff;
  font-size: 24px;
  font-weight: 500;
  margin: 0px 0px 10px 0px;
}

.prefers-block__label_r {
  color: #da3636;
}

.prefers-block__underlable {
  color: #303030;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  max-width: 171px;
}

.sec5 {
  position: relative;
}

.sec5__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sec5__bg img {
  width: 100%;
  height: 100%;
}

.sec5__body {
  padding: 50px 0px;
  position: relative;
  z-index: 10;
}

.sec5__title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
  margin: 0px 0px 50px 0px;
}

.sec5__button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec5__button-blue {
  max-width: 161px;
  margin: 0px 20px 0px 0px;
}

.sec5__button-red {
  max-width: 220px;
}

.project-slider {
  position: relative;
  margin: 0px 0px 50px 0px;
}

.project-slider__arrow {
  cursor: pointer;
}

.project-slider__arrow:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.project-slider__arrow:hover svg path {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  stroke: #007cc1;
}

.project-slider__arrow_prev {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -139px;
}

.project-slider__arrow_next {
  position: absolute;
  top: 50%;
  right: -139px;
}

.project-slider__body-in {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.project-slider__info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 832px;
  padding: 20px;
  background-color: #363c3f;
}

.project-slider__info-title {
  padding: 0px 0px 0px 110px;
  color: #00a3ff;
  font-size: 34px;
  font-weight: 400;
  margin: 0px 0px 20px 0px;
}

.project-slider__info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 22px 0px;
}

.project-slider__info-row:last-child {
  margin: 0px 0px 0px 0px;
}

.project-slider__name {
  color: #00a3ff;
  font-size: 16px;
  font-weight: 500;
  min-width: 85px;
  margin: 0px 27px 0px 0px;
}

.project-slider__name_r {
  color: #da3636;
}

.project-slider__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  max-width: 395px;
}

.project-slider__pic {
  position: relative;
  z-index: 10;
}

.sec6 {
  margin: 50px 0px;
}

.sec6__title {
  color: #303030;
  font-size: 36px;
  font-weight: 600;
  margin: 0px 0px 50px 0px;
}

.sec6__logos-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec6__logo {
  margin: 0px 65px 0px 0px;
}

.sec6__logo:last-child {
  margin: 0px 0px 0px 0px;
}

.sec7 {
  max-width: 1920px;
  margin: 0 auto;
}

.sec7__body {
  width: 100%;
  height: 100%;
}

.sec7__title {
  margin: 0px 360px 80px 360px;
}

.sec7__box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0;
  width: 100%;
  height: 100%;
}

.sec7__box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-width: 0;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.sec7__info-coumn {
  margin: 0px 0px 0px 120px;
  width: 100%;
  max-width: 322px;
  position: relative;
  padding: 50px 0px;
}

.sec7__info-coumn_2 {
  margin: 0px 120px 0px 0px;
}

.sec7__info-coumn::after {
  content: "";
  position: absolute;
  width: 160px;
  top: 0;
  left: 0;
  height: 1px;
  background-color: rgba(244, 60, 48, 0.5);
}

.sec7__info-coumn::before {
  content: "";
  position: absolute;
  width: 160px;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: rgba(244, 60, 48, 0.5);
}

.sec7__name {
  color: #081b28;
  font-size: 24px;
  font-weight: 500;
  margin: 0px 0px 27px 0px;
}

.sec7__text {
  color: #132e41;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
}

.slider-one {
  width: 100%;
  height: 100%;
  min-width: 0;
  max-width: 970px;
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px -18px;
}

.slider-one .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 613px;
}

.slider-one .swiper-slide-active {
  width: 600px !important;
  height: 613px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-one .swiper-slide-active picture {
  width: 100%;
  height: 100%;
  max-width: 600px !important;
  max-height: 100% !important;
}

.slider-one .swiper-slide-active picture img {
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
  width: 100%;
  height: 100%;
  max-width: 100% !important;
  max-height: 100% !important;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.slider-one_2 {
  margin: 0px -18px 0px 0px;
}

.slider-one__slide {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  min-width: 0;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}

.slider-one__slide picture {
  width: 100%;
  height: 100%;
  max-width: 360px;
  max-height: 439px;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}

.slider-one__slide picture img {
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
  width: 100%;
  height: 100%;
  max-width: 360px;
  max-height: 439px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.title-A {
  padding: 40px 0px;
  position: relative;
  color: #081b28;
  font-size: 25px;
  font-weight: 400;
}

.title-A::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  width: 205px;
  height: 1px;
  background-color: rgba(244, 60, 48, 0.5);
}

.title-A::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  width: 205px;
  height: 1px;
  background-color: rgba(244, 60, 48, 0.5);
}

.sec22 {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  -webkit-transform: translate(-100%, 0%);
      -ms-transform: translate(-100%, 0%);
          transform: translate(-100%, 0%);
}

.sec22._active {
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  opacity: 1;
  -webkit-animation: animcall22 3s linear 1;
          animation: animcall22 3s linear 1;
}

@-webkit-keyframes animcall22 {
  0% {
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }

  30% {
    -webkit-transform: translate(10%, 0%);
            transform: translate(10%, 0%);
  }

  50% {
    -webkit-transform: translate(-10%, 0%);
            transform: translate(-10%, 0%);
  }

  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes animcall22 {
  0% {
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  30% {
    -webkit-transform: translate(10%, 0%);
            transform: translate(10%, 0%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  45% {
    -webkit-transform: translate(-10%, 0%);
            transform: translate(-10%, 0%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  60% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }

  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

.sec22__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 120px 0px 100px 0px;
}

.sec22__left-block {
  width: 100%;
  max-width: 840px;
}

.sec22__right-block {
  width: 100%;
  margin: 0px 0px 0px 148px;
}

.sec22__title {
  position: relative;
  margin: 0px 0px 70px 0px;
}

.sec22__title::after {
  background-color: rgba(74, 178, 210, 0.84);
}

.sec22__title::before {
  background-color: rgba(74, 178, 210, 0.84);
}

.sec22__name {
  color: #132e41;
  font-size: 40px;
  font-weight: 500;
  line-height: 51.49px;
  max-width: 536px;
  margin: 0px 0px 48px 0px;
}

.sec22__name span {
  color: #1ea3cd;
}

.sec22__txt {
  color: #081b28;
  font-weight: 400;
  font-size: 16px;
  max-width: 538px;
  margin: 0px 0px 47px 0px;
  line-height: 19.5px;
}

.sec22__txt p {
  margin: 0px 0px 25px 0px;
}

.sec22__txt p:last-child {
  margin: 0px 0px 0px 0px;
}

.sec22__txt span {
  font-weight: 500;
  color: #1ea3cd;
}

.sec22__prefers-box {
  width: 100%;
  max-width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sec22__prefers-item {
  position: relative;
  width: 100%;
  padding: 0px 18px;
}

.sec22__prefers-item::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #b5b5b6;
}

.sec22__prefers-item:first-child {
  padding: 0px 18px 0px 0px;
}

.sec22__prefers-item:first-child::after {
  content: "";
  display: none;
}

.sec22__prefers-item:last-child {
  padding: 0px 0px 0px 18px;
}

.sec22__prefers-name {
  color: #1ea3cd;
  font-size: 18px;
  font-weight: 500;
  margin: 0px 0px 10px 0px;
}

.sec22__prefers-name_red {
  color: rgba(244, 60, 48, 0.75);
}

.sec22__prefers-text {
  position: relative;
  max-width: 175px;
  color: #081b28;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.sec22__prefers-text_f {
  min-width: 175px;
}

.sec22__prefers-text_red {
  max-width: 133px;
}

.about-slier {
  position: relative;
  width: 100%;
  max-width: 840px;
}

.about-slier__slide {
  position: relative;
}

.about-slier__notate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding: 10px 0px 10px 25px;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 480px;
  min-height: 65px;
  background-color: rgba(54, 60, 63, 0.8);
}

.about-slier__notate p {
  max-width: 314px;
  line-height: 22px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.about-slier__arrows {
  position: absolute;
  width: 100%;
  max-width: 118px;
  bottom: 0;
  right: 0;
  background-color: rgba(10, 10, 10, 0.61);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-slier__arrow-left {
  cursor: pointer;
  height: 65px;
  width: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 0px 12px;
}

.about-slier__arrow-left:hover svg path {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  stroke: #00a3ff;
}

.about-slier__arrow-right {
  cursor: pointer;
  height: 65px;
  width: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 12px 0px 20px;
}

.about-slier__arrow-right:hover svg path {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  stroke: #00a3ff;
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1212px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .header._scroll {
    height: 50px;
  }
}

._webp .right-block__num::after{ background: url(../img/sec1/Ellipse.webp) center no-repeat; }